# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Assembly files
*.lst

# Executables
*.exe
*.out
*.app
trabalhocg
a.out

#Zip files
*.zip

#Directories
.idea
especificacao

#CMake Files
CMakeLists.txt

*~
